<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SharpBMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SharpBMI.Properties.Settings.db_sharpbmiConnectionString"
      connectionString="user id=root;password=;server=localhost;database=db_sharpbmi"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <SharpBMI.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>db_sharpbmi</value>
      </setting>
      <setting name="uid" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="SQL_INSERT" serializeAs="String">
        <value>INSERT INTO {0}({1}) VALUES({2})</value>
      </setting>
      <setting name="TABLE_BMI" serializeAs="String">
        <value>BMI</value>
      </setting>
      <setting name="SUCCESS_ADDED" serializeAs="String">
        <value>Record added successfully</value>
      </setting>
      <setting name="FAILURE_ADD" serializeAs="String">
        <value>Failed to add record. Please try again or contact the developer.</value>
      </setting>
      <setting name="SUCCESS_EXPORTED" serializeAs="String">
        <value>Successfully exported!</value>
      </setting>
      <setting name="FAILURE_EXPORTED" serializeAs="String">
        <value>Failed to export the document. Please try again.</value>
      </setting>
      <setting name="PDF_FILE_FILTER" serializeAs="String">
        <value>PDF Document File(*.pdf) | *.pdf</value>
      </setting>
      <setting name="XML_FILE_FILTER" serializeAs="String">
        <value>XML Document File(*.xml) | *.xml</value>
      </setting>
      <setting name="PDF_EXTENSION" serializeAs="String">
        <value>.pdf</value>
      </setting>
      <setting name="XML_EXTENSION" serializeAs="String">
        <value>.xml</value>
      </setting>
      <setting name="EMPTY_HEIGHT" serializeAs="String">
        <value>Please fill your height.</value>
      </setting>
      <setting name="EMPTY_WEIGHT" serializeAs="String">
        <value>Please fill your weight.</value>
      </setting>
      <setting name="CONFIRM_CLOSE_APPLICATION" serializeAs="String">
        <value>Are you sure that you want to exit?</value>
      </setting>
      <setting name="ALREADY_EXISTS" serializeAs="String">
        <value>The record already exists</value>
      </setting>
      <setting name="SUCCESS_DATABASE_CONNECTION" serializeAs="String">
        <value>Successfully connected to the Database</value>
      </setting>
      <setting name="ERROR_DATABASE_CONNECTION" serializeAs="String">
        <value>Failed to connect to the Database.</value>
      </setting>
      <setting name="SUCCESS_MYSQL_START" serializeAs="String">
        <value>MySQL Service started successfully!</value>
      </setting>
      <setting name="FAILURE_MYSQL_START" serializeAs="String">
        <value>MySQL Service failed to start.</value>
      </setting>
      <setting name="UNINSTALLED_MYSQL_SERVICE" serializeAs="String">
        <value>MySQL Service is not installed.</value>
      </setting>
      <setting name="MYSQL_SERVICE_NAME" serializeAs="String">
        <value>MySQL57</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
    </SharpBMI.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>